services:
  bucketdb:
    image: postgres
    restart: always
    shm_size: 128mb
    environment:
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_USER: ${PG_USER}
      POSTGRES_DB: ${PG_DBNAME}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  photo-api:
    image: photo-api
    depends_on:
      - bucketdb
    build:
      dockerfile: ./Dockerfile.dev
    env_file:
      - .env
    environment:
      DATABASE_URL: ${CONTAINER_DATABASE_URL}
    volumes:
      - ./:/photo-bucket-fastapi
    ports:
      - "8000:80"

volumes:
  postgres_data:
